<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cmcc.mobile.admin.dao.ApprovalMostTypeMapper">
	<resultMap id="BaseResultMap" type="cmcc.mobile.admin.entity.ApprovalMostType">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="showindex" property="showindex" jdbcType="INTEGER" />
		<result column="des" property="des" jdbcType="VARCHAR" />
		<result column="company_id" property="companyId" jdbcType="VARCHAR" />
		<result column="wyy_id" property="wyyId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, remark, showindex, des, company_id, wyy_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from approval_most_type
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from approval_most_type
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="cmcc.mobile.admin.entity.ApprovalMostType">
		insert into approval_most_type (id, name, remark,
		showindex, des, company_id,
		wyy_id)
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{showindex,jdbcType=INTEGER}, #{des,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR},
		#{wyyId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cmcc.mobile.admin.entity.ApprovalMostType">
		insert into approval_most_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="showindex != null">
				showindex,
			</if>
			<if test="des != null">
				des,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="wyyId != null">
				wyy_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="showindex != null">
				#{showindex,jdbcType=INTEGER},
			</if>
			<if test="des != null">
				#{des,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=VARCHAR},
			</if>
			<if test="wyyId != null">
				#{wyyId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cmcc.mobile.admin.entity.ApprovalMostType">
		update approval_most_type
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="showindex != null">
				showindex = #{showindex,jdbcType=INTEGER},
			</if>
			<if test="des != null">
				des = #{des,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=VARCHAR},
			</if>
			<if test="wyyId != null">
				wyy_id = #{wyyId,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cmcc.mobile.admin.entity.ApprovalMostType">
		update approval_most_type
		set name = #{name,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		showindex = #{showindex,jdbcType=INTEGER},
		des = #{des,jdbcType=VARCHAR},
		company_id = #{companyId,jdbcType=VARCHAR},
		wyy_id = #{wyyId,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from approval_most_type where wyy_id=#{wyyId} order by
		showindex
	</select>
	
	<!-- 获取全部Wyy -->
	<select id="selectByWyy" resultMap="BaseResultMap" parameterType="map">
		select
		a.id,a.name, a.remark, a.showindex, a.des, a.company_id, a.wyy_id
		from approval_most_type a
		left join approval_wyy_company b 
		on a.wyy_id = b.wyy_id 
		where a.wyy_id !='wyy0001' and b.id in
		<foreach collection="id" item="item" open="(" separator="," close=")">
 #{item}</foreach>
	</select>
</mapper>